<div id ="allPage">
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <h5>&copy; Copyright Revathy Jalaja Kumari - 301164185.</h5>
    </div>
</nav>
</div>



