<div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>

<div style="width:980px; margin-left:auto; margin-right:auto" >
<h3 id ="topofPage">Sir Timothy John "Tim" Berners-Lee</h3>
<a href="https://en.wikipedia.org/wiki/Tim_Berners-Lee" title="Tim's page on Wiki"><img src="TBerners.jpg" alt ="TBerners picture" style="float:right; margin-left:6px; margin-bottom:6px;"></a>
<a href="https://en.wikipedia.org/wiki/Tim_Berners-Lee">Tim's page on Wiki</a>
<p>
OM, KBE, FRS, FREng, FRSA (born 8 June 1955[1]), is a British engineer and computer scientist and MIT professor credited with inventing the World Wide Web, making the first proposal for it in March 1989.[2] On 25 December 1990, with the help of Robert Cailliau and a young student atat CERN, he implemented the first successful communication between an HTTP client and server via the Internet.
</p><p>
<p>Berners-Lee is the director of the World Wide Web Consortium (W3C), which oversees the Web's continued development. He is also the founder of the World Wide Web Foundation, and is a senior researcher and holder of the 3Com Founders Chair at the MIT Computer Science and Artificial Intelligence Laboratory (CSAIL).[3] He is a director of The Web Science Research Initiative (WSRI),[4] and a member of the advisory board of the MIT Center for Collective Intelligence.[5][6] In April 2009, he was elected as a member of the United States National Academy of Sciences, based in Washington, D.C. [7]
</p><p>
<h4>Contents</h4>
<ul style="list-style-image: url(star2.gif)">
<li><a href ="#eLife">Early life</a></li>
<li><a href ="#career">Career</a></li>
<li><a href ="#rec">Recognition</a></li>
<li><a href ="#pLife">Personal life</a></li>
<li>See also</li>
<li>Publications</li>
<li>Notes</li>
<li>Further reading</li>
<li>External links</li>
</ul>

</p><p>
</div>