<div id ="allPage">
<div class="container">
        <h1><strong><%= title %></strong> </h1><br>
</div>

<div  margin-left:auto; margin-right:auto >
<h3 id ="topofPage">Revathy Jalaja Kumari</h3>
<img src="images/about.jpg" alt =" picture" style="float:right; margin-left:6px; margin-bottom:6px;"></a>


<h4>Mission Statement</h4>

<p>


</p>
</div>
</div>