<div id ="allPage">
<div class="container">
       <!-- <h1><em><%= title %></em> </h1><br> -->
</div>
<br>
<div  margin-left:auto; margin-right:auto >

<img src="about.jpg" alt =" picture" style="float:right; margin-left:6px; margin-bottom:6px;">
<p>Hello,</p>
<p>My name is Revathy Jalaja Kumari.</p>
<p></p>Currently I am doing <b>Software Engineering Technology</b> program at Centennial College.</p>
<p>I completed my Bachelor's degree in Computer Science and Engineering from NI College of Engineering in India. </p>

				

				<p><h5>One of my favorite quote is: </h5></p>
				<blockquote>
					<i>If you can dream it, you can do it."</i>
					<br>~~~Walt Disney~~~
				</blockquote>

<h4>Mission Statement</h4>

<p>


</p>
</div>
</div>