<div class="container">
        <h1><strong><%= title %></strong></h1>
</div>

<div>
        <nav>
	<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="Listings.html">Active Listings</a></li>
		<li><a href="Contact.html">Contact Us</a></li>
		<li><a href="Sitemap.html">Sitemap</a></li>
		<li><a href="../index.html">Back To Index </a></li>
		
	</ul>
	</nav>
</div>