<div id ="allPage">


<div class="container">
     <!--   <h1><em><%= title %></em></h1> -->

</div>




  <!--<nav>
	  <ul>
		  <li><a href="about">About Me</a></li>
		  <li><a href="projects">Projects</a></li>
		  <li><a href="home">Services </a></li>
                <li><a href="contact">Contact</a></li>
		
  	</ul>
	</nav>
        -->


<div>
        <blockquote>
		<i>If you can dream it, you can do it."</i>
        </blockquote>
</div>

</div>