<div class="container">
        <h1><strong><%= title %></strong></h1>
</div>

<div>
        <nav>
	<ul>
		<li><a href="home.ejs">Home</a></li>
		<li><a href="about.ejs">About Me</a></li>
		<li><a href="projects.ejs">Sitemap</a></li>
		<li><a href="home.ejs">Back To Home </a></li>
                <li><a href="contact.ejs">Contact Us</a></li>
		
	</ul>
	</nav>
</div>