<div id ="allPage">

<div class="container">
        <h1><strong><%= title %></strong></h1>
</div>

<p>I'm a student in the <b>Software Engineering Technology</b> program at Centennial College.</p>
				<p>I completed my Bachelor's degree in Computer Science and Engineering from NI College of Engineering in India. </p>

				

				<p><h5>One of my favorite quote is: </h5></p>
				<blockquote>
					<i>If you can dream it, you can do it."</i>
					<br>~~~Walt Disney~~~
				</blockquote>

</div>