<div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>

<div>
<tr>
        <h4>Application developer</h4>
        <ul>
                <li>Developed and maintained online pensioner’s web portal using Java, HTML, CSS, jQuery and JavaScript </li>
		<li>Automated the Confidential Report (CR) for the employees of Finance department which significantly reduced the manual work by developing web application and back end database  </li>
		<li>Improved retrieval of data by designing and maintaining MySQL database </li>
		<li>Ensured portal is available for use by deploying web application .war file in Tomcat server and JBOSS Server</li>
		<li>Gathered and documented application business requirements and use case scenarios by attending the client/user meetings</li>
		<li>Improved employees’ knowledge Pensioners Portal by preparing user training documentation </li>
		<li>Conducted User FAQ section for newly developed Pensioners Portal</li>			
        </ul>
</tr>

<tr>
        <h4>Fault Management Engineer</h4><br>
        <h5><i>Nokia Siemens Network, Chennai , India</i></h5>
        <ul>
                <li>Minimized the data retrieval time by migrating reports from VBA Macros to web-based reports</li>
		<li>Reduced time spent on retrieving data by developing and updating shell scripts as required </li>
		<li>Ensured the scripts run by setting up jobs in crontab as per schedules supplied by the business </li>
                <li>Initiated reports job by preparing Excel Reports and emailed them to the customers on a daily basis </li>
                <li>Assisted customer requests for generating customized reports (Fault Management Reports) </li>
                <li>Improved customer satisfaction by creating Excel Macros to automate customized report generation process that reduced the turnaround time by 70%  </li>
                <li>Prepared Summarized report for the management by querying and designing reports on SQL Server Reporting services </li>
                <li>Spearheaded the system troubleshooting by responding to the end users’ questions and concerns by phone and email </li>
					
        </ul>
</tr>


<tr>
        <h4>Application developer</h4>
        <ul>
                <li> </li>
                <li> </li>
                <li> </li>
                <li> </li>
                <li> </li>
                <li> </li>			
        </ul>
</tr>




</div>