<div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>

<div>
<tr>

        <ul>
			<li>Faster performance </li>
			<li>Revolutionary mobile phone </li>
			<li>Great widescreen iPod </li>
			<li>Breakthrough Internet device </li>
			<li>Maps with GPS + digital compass* </li>
			<li>Video recording </li>
			<li>3-megapixel autofocus camera </li>
			<li>Voice Control </li>
			<li>VoiceOver </li>
			<li>Messages with MMS support </li>
			<li>Thousands of apps on the App Store </li>
			<li>16GB </li>
			<li>Black | White </li>
		</ul>

</tr>




</div>