<div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>

<div>
<tr>
        <h4>Application developer</h4>
        <ul>
                <li>Developed and maintained online pensioner’s web portal using Java, HTML, CSS, jQuery and JavaScript </li>
		<li>Automated the Confidential Report (CR) for the employees of Finance department which significantly reduced the manual work by developing web application and back end database  </li>
		<li>Improved retrieval of data by designing and maintaining MySQL database </li>
		<li>Ensured portal is available for use by deploying web application .war file in Tomcat server and JBOSS Server</li>
		<li>Gathered and documented application business requirements and use case scenarios by attending the client/user meetings</li>
		<li>Improved employees’ knowledge Pensioners Portal by preparing user training documentation </li>
		<li>Conducted User FAQ section for newly developed Pensioners Portal</li>			
        </ul>
</tr>

<tr>
        <h4>Application developer</h4>
        <ul>
                <li>Developed and maintained online pensioner’s web portal using Java, HTML, CSS, jQuery and JavaScript </li>
		<li>Automated the Confidential Report (CR) for the employees of Finance department which significantly reduced the manual work by developing web application and back end database  </li>
		<li>Improved retrieval of data by designing and maintaining MySQL database </li>
		<li>Ensured portal is available for use by deploying web application .war file in Tomcat server and JBOSS Server</li>
		<li>Gathered and documented application business requirements and use case scenarios by attending the client/user meetings</li>
		<li>Improved employees’ knowledge Pensioners Portal by preparing user training documentation </li>
		<li>Conducted User FAQ section for newly developed Pensioners Portal</li>			
        </ul>
</tr>





<tr>
        <h4>Application developer</h4>
        <ul>
                <li>Developed and maintained online pensioner’s web portal using Java, HTML, CSS, jQuery and JavaScript </li>
		<li>Automated the Confidential Report (CR) for the employees of Finance department which significantly reduced the manual work by developing web application and back end database  </li>
		<li>Improved retrieval of data by designing and maintaining MySQL database </li>
		<li>Ensured portal is available for use by deploying web application .war file in Tomcat server and JBOSS Server</li>
		<li>Gathered and documented application business requirements and use case scenarios by attending the client/user meetings</li>
		<li>Improved employees’ knowledge Pensioners Portal by preparing user training documentation </li>
		<li>Conducted User FAQ section for newly developed Pensioners Portal</li>			
        </ul>
</tr>




</div>