<div class="container">
        <h1><strong><%= title %></strong></h1>
</div>
<div>
        <ul>
                <li>Software Developemnt</li>
                <li>Java Programming</li>
                <li>Website Design and Development</li>
                <li></li>

        </ul>

</div>