<div id="allPage">
<div class="container">
        <h1><strong><%= title %></strong></h1>
</div>
<div>

        <h3>Software Development</h3>
	<img src="sw_dev" alt =" " width ="980px" height="800">
        <h3>Java Programming</h3>
	<img src="java" alt =" " width ="980px" height="800">
        <h3>Website Design and Development</h3>
	<img src="web" alt =" " width ="980px" height="800">



       

</div>
</div>