<div id="allPage">
<div class="container">
        <h1><strong><%= title %></strong></h1>
</div>
<div>

        <h3>Software Development</h3>
	<img src="sw_dev" alt =" " width ="980px" height="800">



        <ul>
                <li></li>
                <li>Java Programming</li>
                <li>Website Design and Development</li>
                <li></li>

        </ul>

</div>
</div>